body {
    font-family: 'Arial', sans-serif;
    background-color: #920ea3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

#game-container {
    margin-top: 20px;
}

.game {
    border-bottom: 1px solid #c13cff;
    padding: 10px;
}

#add-game-form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #ffe20a;
    color: #033131;
    padding: 10px;
    border: none;
    cursor: pointer;
}